xsd/mobiliaria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="schema">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="element">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="complexType">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="sequence">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="element">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="complexType">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element
                                                                                name="descricao"
                                                                                type="xs:string" />
                                                                            <xs:element
                                                                                name="proprietario">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                            name="nome"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="telefone"
                                                                                            maxOccurs="unbounded"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="email"
                                                                                            type="xs:string" />
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element
                                                                                name="endereco">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                            name="rua"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="numero"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="bairro"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="cidade"
                                                                                            type="xs:string" />
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element
                                                                                name="caracteristicas">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                            name="tamanho"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="numQuartos"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="numBanheiros"
                                                                                            type="xs:string" />
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="valor"
                                                                                type="xs:string" />
                                                                            <xs:element
                                                                                name="imovel"
                                                                                maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                            name="descricao"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="proprietario">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element
                                                                                                        name="nome"
                                                                                                        type="xs:string" />
                                                                                                    <xs:element
                                                                                                        name="telefone"
                                                                                                        type="xs:string" />
                                                                                                    <xs:element
                                                                                                        name="email"
                                                                                                        minOccurs="0"
                                                                                                        type="xs:string" />
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element
                                                                                            name="endereco">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element
                                                                                                        name="rua"
                                                                                                        type="xs:string" />
                                                                                                    <xs:element
                                                                                                        name="numero"
                                                                                                        type="xs:string" />
                                                                                                    <xs:element
                                                                                                        name="bairro"
                                                                                                        type="xs:string" />
                                                                                                    <xs:element
                                                                                                        name="cidade"
                                                                                                        type="xs:string" />
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element
                                                                                            name="caracteristicas">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element
                                                                                                        name="tamanho"
                                                                                                        type="xs:string" />
                                                                                                    <xs:element
                                                                                                        name="numQuartos"
                                                                                                        type="xs:string" />
                                                                                                    <xs:element
                                                                                                        name="numBanheiros"
                                                                                                        type="xs:string" />
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element
                                                                                            name="valor"
                                                                                            type="xs:string" />
                                                                                    </xs:sequence>
                                                                                    <xs:attribute
                                                                                        name="id"
                                                                                        use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="name" use="required" />
                                                            <xs:attribute name="maxOccurs"
                                                                use="required" />
                                                            <xs:attribute name="minOccurs"
                                                                type="xs:integer" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>